<header>
  <img src="" alt="" width="130px" height="130px" loading="eager" />
  <h1>Junior Borges</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | ReactJs</p>
    <p>Itu, São Paulo, Brasil</p>
    <p>
      Estou na area de desenvolvimento de software mais de 10 anos. Devido isso
      resolvi abraçar a stack JS pois atua no FrontEnd
    </p>

    <nav>
      <ul>
        <li>
          <a href="" target="_blank" class="btn btn-primary"> Download CV </a>
        </li>
        <li>
          <a href="" target="_blank" class="btn btn-secondary"> LinkedIn </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="" alt="" width="22px" height="24px" />
        <figcaption>
          <a href="" target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (11) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
